<div class="listViewModes" style="">
    <a href="#" id="listStdViewButton" class="listViewModeButton std pressed " ng-class="std" ng-click="setstd()">
        &nbsp;</a>
    <a href="#" id="listGridViewButton" class="listViewModeButton grid " ng-class="grid" ng-click="setgrid()">&nbsp;</a>
</div>
<div class="title">Opinião</div>
<div class="xResults" style="">
    <div class="newsListWrapper">
        <ul class="newsList">

            <li ng-repeat="article in articles" ng-class="{first : $first}" class="item">
                <div class="itemHeader">
                    <div class="image">
                        <a href="http://www.azorestv.com/index.php/p/54/opiniao/#/articles/view/{{article.Id}}"><img
                                data-ng-src="data:{{article.Image.Filetype}};base64,{{article.Image.Base64}}"
                                alt="{{article.Title}}" style=""></a>
                    </div>
                    <div class="title"><a
                            href="http://www.azorestv.com/index.php/p/54/opiniao/#/articles/view/{{article.Id}}">{{article.Title}} </a>
                    </div>
                    <div class="user">De: <a href="#" data-trigger="hover" data-type="success" data-html="true"
                                             data-placement="bottom"
                                             data-title="<img style='height:110px;'
                                             src='{{'data:image/jpeg;base64,'+getPublisherImage(article.Publisherid)}}'>"
                                             bs-tooltip>{{article.PublisherName}}</a></div>
                    <div class="date">{{article.Date}}</div>
                </div>
                <div class="description">
                    <p ng-bind-html="article.Description"></p>
                    <a href="http://www.azorestv.com/index.php/p/54/opiniao/#/articles/view/{{article.Id}}">Leia
                        mais</a>
                </div>
            </li>


        </ul>
    </div>

    <div class="clearLeft"></div>
</div>