<table class="table">
    <ng-timepicker ng-model="Date"></ng-timepicker>
    <thead>
    <tr>
        <th>imagem</th>
        <th>Title</th>
        <th>Duração</th>
        <th>no Ar</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="video in videos" ng-class='{red : video.Playing}' scroll-if="{{video.Playing}}">
        <td><img style="height: 50px"
                 data-ng-src="{{::video.Thumbnail}}"></td>
        <td>{{::video.Title}}</td>
        <td>{{::format(video.Duration)}}</td>
        <td>{{::video.PlayingInterval}}</td>

    </tr>
    </tbody>
</table>

<style type="text/css">
    .red {
        background-color: red;
    }


</style>