<div class="form-group">
    <label for="inputTitle">Search</label>
    <input type="text" class="form-control" id="inputTitle" placeholder="Title" ng-change="search(searchKeyword)" ng-model="searchKeyword">
</div>


<table class="table">
    <thead>
    <tr>
        <th>Imagem</th>
        <th>Titulo</th>
        <th>inicio</th>
        <th>fim</th>
        <th>disabled</th>
        <th>update</th>


    </tr>
    </thead>
    <tbody>

    <tr ng-repeat="video in videos" ng-class='{red : video.Playing}' scroll-if="{{video.Playing}}">
        <td><img style="height: 50px" data-ng-src="{{::video.Thumbnail}}"></td>
        <td>{{::video.Title}}</td>
        <td><div class="form-group">
            <input type="number" class="form-control"  placeholder="Inicio" ng-model="video.StartTime">
        </div></td>
        <td><div class="form-group">
            <input type="number" class="form-control"  placeholder="Fim" ng-model="video.EndTime">
        </div></td>
        <td><input type="checkbox" ng-model="video.Disabled"/></td>
        <td> <button type="submit" ng-click="updateVideo(video)" class="btn btn-default">Update</button></td>


    </tr>
    </tbody>
</table>

<style type="text/css">
    .red {
        background-color: red;
    }

    .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
        padding: 8px;
        line-height: 1.42857143;
        vertical-align: top;
        border-top: 1px solid #ddd;
    }
</style>