



    <form>
        <label class="control-label"><i class="fa fa-clock-o"></i> Hora Inicio Playlist GMT</label><br>
        <div class="form-group">
            <input type="text" class="form-control" size="8" ng-model="FakeliveSettings.StartTime" bs-timepicker data-time-format="HH:mm" data-length="1" data-minute-step="1" data-arrow-behavior="picker">
        </div>

        <label class="control-label">Incluir Directo</label><br>
        <div class="form-group">
            <input type="checkbox" ng-model="FakeliveSettings.LiveStreamSettings.Activated">
        </div>

        <label class="control-label" ng-if="FakeliveSettings.LiveStreamSettings.Activated"><i class="fa fa-clock-o"></i> Hora Inicio Directo GMT</label><br>
        <div class="form-group"  ng-if="FakeliveSettings.LiveStreamSettings.Activated">
            <input type="text" class="form-control" size="8" ng-model="FakeliveSettings.LiveStreamSettings.StartLiveTime" bs-timepicker data-time-format="HH:mm" data-length="1" data-minute-step="1" data-arrow-behavior="picker">
        </div>

        <label class="control-label"  ng-if="FakeliveSettings.LiveStreamSettings.Activated"> Hora Fim Directo GMT</label><br>
        <div class="form-group"  ng-if="FakeliveSettings.LiveStreamSettings.Activated">
            <input type="text" class="form-control" size="8" ng-model="FakeliveSettings.LiveStreamSettings.EndLiveTime" bs-timepicker data-time-format="HH:mm" data-length="1" data-minute-step="1" data-arrow-behavior="picker">
        </div>


        <div ng-repeat="item in FakeliveSettings.RTimes">
            <label class="control-label"><i class="fa fa-clock-o"></i> Repetir recentes às</label><br>
            <div class="form-group">
                <i ng-click="removeRTime($index)" class="glyphicon glyphicon-remove"></i><input type="text" class="form-control" size="8" ng-model="FakeliveSettings.RTimes[$index]" bs-timepicker data-time-format="HH:mm" data-length="1" data-minute-step="1" data-arrow-behavior="picker">
            </div>
        </div>

        <button type="submit" ng-click="addRepeatTimes()" class="btn btn-default">adicionar repetição</button>

        <button type="submit" ng-click="updateSettings()" class="btn btn-default">Submit</button>

        <button type="submit" ng-click="reload()" class="btn btn-default">Restart Now</button>
    </form>