<div class="row" ng-if="isadmin()">
    <form>
        <div class="form-group">
            <label for="inputTitle">Name</label>
            <input type="text" class="form-control" id="inputTitle" placeholder="Name" ng-model="client.Name">
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" placeholder="Email" ng-model="client.Email">
        </div>

        <button type="submit" ng-click="submit()" class="btn btn-default">Submit</button>
    </form>
</div>