<div class="row">
    <form>
        <div class="form-group">
            <label for="inputLogin">Title</label>
            <input type="text" class="form-control" id="inputLogin" placeholder="Email" ng-model="auth.Email">
        </div>
        <div class="form-group">
            <label for="inputPass">Text</label>
            <input type="password" class="form-control" id="inputPass" placeholder="Password" ng-model="auth.Password">
        </div>


        <button type="submit" ng-click="submit()" class="btn btn-default">Submit</button>
    </form>
</div>